<footer class="footer_nav">
    <section class="am-g">
        <section class="am-u-sm-12">
            <section class="am-u-sm-2">
                <a href="/mobile/html5game">
                    <dl class="m_h5adl">
                        <dt>
                            <img class="m_h5a" src="/img_m/m_h5a.png" style="width:27px; height:24px;">
                        </dt>
                        <dd>游戏</dd>
                    </dl>
                </a>
            </section>
            <section class="am-u-sm-2">
                <a href="/dingzhi.html">
                    <dl class="m_h5adl">
                        <dt>
                            <img class="m_h5a" src="/img_m/dingzhi{if condition="Request()->action() eq 'index'"}hov{/if}.png" style="width:27px; height:24px;">
                        </dt>
                        <dd {if condition="Request()->action() eq 'index'"}style="color: rgb(254, 105, 91);"{/if}>定制</dd>
                    </dl>
                </a>
            </section>
            <section class="am-u-sm-2">
                <a href="">
                    <dl class="m_h5adl">
                        <dt>
                            <img class="m_h5a" src="/img_m/QQgame.png" style="width:27px; height:24px;">
                        </dt>
                        <dd>重榜</dd>
                    </dl>
                </a>
            </section>
            <section class="am-u-sm-2">
                <a href="/mobile/change_integral">
                    <dl class="m_h5adl">
                        <dt>
                            <img class="m_h5a" src="/img_m/ico_fshop.png" style="width:27px; height:24px;">
                        </dt>
                        <dd>商城</dd>
                    </dl>
                </a>
            </section>
            <section class="am-u-sm-2">
                <a href="http://fz.m.letoula.com">
                    <dl class="m_h5adl">
                        <dt>
                            <img class="m_h5a" src="/img_m/m_channel.png" style="width:27px; height:24px;">
                        </dt>
                        <dd>彩票</dd>
                    </dl>
                </a>
            </section>
            <section class="am-u-sm-2">
                <a href="/mobile/home">
                    <dl class="m_h5adl">
                        <dt>
                            <img class="m_h5a" src="/img_m/m_my{if condition="Request()->action() eq 'mygame'"}hov{/if}.png" style="width:27px; height:24px;">
                        </dt>
                        <dd {if condition="Request()->action() eq 'mygame'"}style="color: rgb(254, 105, 91);"{/if}>我的</dd>
                    </dl>
                </a>
            </section>
        </section>
    </section>
</footer>