<header class="header_nav">
    <section class="am-g">
        <section class="am-u-sm-3 nav_a">
            <a href="/mobile/home">
                基本资料
            </a>
        </section>
        <section class="am-u-sm-3 nav_a{if condition="Request()->action() eq 'mygame'"} nav_a_hov{/if}">
            <a href="/diy_games/public/megame">
                我的游戏
            </a>
        </section>
        <section class="am-u-sm-3 nav_a">
            <a href="/mobile/adv">
                我的广告
            </a>
        </section>
        <section class="am-u-sm-3 nav_a">
            <a href="/mobile/channel">
                频道
            </a>
        </section>
<!--        <section class="am-u-sm-2 nav_a">
            <a href=" /mobile/new">
                我的
            </a>
        </section>-->
    </section>
</header>